In [1]:
import numpy as np
import pandas as pd

In [2]:
mri_csv = pd.read_csv('archive/oasis_longitudinal.csv')
mri_csv['Group'].replace('Converted', 'Demented', inplace=True)

In [3]:
mri_csv.describe()

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
count,373.000000,373.000000,373.000000,373.000000,354.000000,371.000000,373.000000,373.000000,373.000000,373.000000
mean,1.882038,595.104558,77.013405,14.597855,2.460452,27.342318,0.290885,1488.128686,0.729568,1.195461
std,0.922843,635.485118,7.640957,2.876339,1.134005,3.683244,0.374557,176.139286,0.037135,0.138092
min,1.000000,0.000000,60.000000,6.000000,1.000000,4.000000,0.000000,1106.000000,0.644000,0.876000
25%,1.000000,0.000000,71.000000,12.000000,2.000000,27.000000,0.000000,1357.000000,0.700000,1.099000
50%,2.000000,552.000000,77.000000,15.000000,2.000000,29.000000,0.000000,1470.000000,0.729000,1.194000
75%,2.000000,873.000000,82.000000,16.000000,3.000000,30.000000,0.500000,1597.000000,0.756000,1.293000
max,5.000000,2639.000000,98.000000,23.000000,5.000000,30.000000,2.000000,2004.000000,0.837000,1.587000

In [4]:
mri_csv = mri_csv.fillna(mri_csv.mean())
mri_csv

/var/folders/25/hkg7hrfn7130z9vkbc1z1h580000gn/T/ipykernel_30727/2516103592.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mri_csv = mri_csv.fillna(mri_csv.mean())

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.000000,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.000000,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,2.460452,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,2.460452,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,2.460452,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,Demented,2,842,M,R,82,16,1.000000,28.0,0.5,1693,0.694,1.037
369,OAS2_0185,OAS2_0185_MR3,Demented,3,2297,M,R,86,16,1.000000,26.0,0.5,1688,0.675,1.040
370,OAS2_0186,OAS2_0186_MR1,Nondemented,1,0,F,R,61,13,2.000000,30.0,0.0,1319,0.801,1.331
371,OAS2_0186,OAS2_0186_MR2,Nondemented,2,763,F,R,63,13,2.000000,30.0,0.0,1327,0.796,1.323
372,OAS2_0186,OAS2_0186_MR3,Nondemented,3,1608,F,R,65,13,2.000000,30.0,0.0,1333,0.801,1.317

In [5]:
mri_csv.describe()

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
count,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,1.882038,595.104558,77.013405,14.597855,2.460452,27.342318,0.290885,1488.128686,0.729568,1.195461
std,0.922843,635.485118,7.640957,2.876339,1.104665,3.673329,0.374557,176.139286,0.037135,0.138092
min,1.000000,0.000000,60.000000,6.000000,1.000000,4.000000,0.000000,1106.000000,0.644000,0.876000
25%,1.000000,0.000000,71.000000,12.000000,2.000000,27.000000,0.000000,1357.000000,0.700000,1.099000
50%,2.000000,552.000000,77.000000,15.000000,2.000000,29.000000,0.000000,1470.000000,0.729000,1.194000
75%,2.000000,873.000000,82.000000,16.000000,3.000000,30.000000,0.500000,1597.000000,0.756000,1.293000
max,5.000000,2639.000000,98.000000,23.000000,5.000000,30.000000,2.000000,2004.000000,0.837000,1.587000

In [6]:
mri_csv.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.000000,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.000000,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,2.460452,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,2.460452,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,2.460452,22.0,0.5,1698,0.701,1.034

In [7]:
def count_all_ig(X, y):
    n_samples, n_feats = X.shape

    feat_idxs = np.random.choice(n_feats, n_feats, replace=False)
    n_labels = len(np.unique(y))
    best_gains = []
    for feat_idx in feat_idxs:
        column = X.columns[feat_idx]
        col = X[column]
        # col = X[:,feat_idx]
        best_ig = -1
        thresholds = np.unique(col)

        for thr in thresholds:
            gain = information_gain(y, col.values, thr)
            best_ig = max(best_ig, gain)

        best_gains.append((best_ig, column))
    return best_gains


# entropy(parent) - [weighted entropy](children)
def information_gain(y, col, thr):
    parent_entropy = entropy(y)
    l_idxs, r_idxs = create_children(col, thr)

    if len(l_idxs) == 0 or len(r_idxs) == 0:
        return 0

    # calculate the weighted avg. entropy of children
    n = len(y)
    n_l, n_r = len(l_idxs), len(r_idxs)
    e_l, e_r = entropy(y[l_idxs]), entropy(y[r_idxs])
    child_entropy = (n_l/n) * e_l + (n_r/n) * e_r

    # calculate the IG
    information_gain = parent_entropy - child_entropy
    return information_gain


def entropy(y):
    hist = np.bincount(y)
    ps = hist / len(y)
    return -np.sum([p * np.log(p) for p in ps if p > 0])


def create_children(col, thr):
    left_idxs = np.argwhere(col <= thr).flatten()
    right_idxs = np.argwhere(col > thr).flatten()
    return left_idxs, right_idxs

In [8]:
from sklearn import preprocessing

y = mri_csv['Group']
le_y = preprocessing.LabelEncoder()
le_y.fit(y)
y = le_y.transform(y)
y[0:10]

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1])

In [9]:
X = mri_csv.iloc[:, 3:]
le_X = preprocessing.LabelEncoder()
le_X.fit(X['M/F'])
X['M/F'] = le_X.transform(X['M/F'])
X.drop('Hand', inplace=True, axis=1)
# le_X.fit(X['Hand'])
# X['Hand'] = le_X.transform(X['Hand'])
# columns = X.columns
columns = X.columns.values
X.head()

   Visit  MR Delay  M/F  Age  EDUC       SES  MMSE  CDR  eTIV   nWBV    ASF
0      1         0    1   87    14  2.000000  27.0  0.0  1987  0.696  0.883
1      2       457    1   88    14  2.000000  30.0  0.0  2004  0.681  0.876
2      1         0    1   75    12  2.460452  23.0  0.5  1678  0.736  1.046
3      2       560    1   76    12  2.460452  28.0  0.5  1738  0.713  1.010
4      3      1895    1   80    12  2.460452  22.0  0.5  1698  0.701  1.034

In [ ]:
scaler = preprocessing.MinMaxScaler()
scaler.fit(X)

X = scaler.transform(X)
X

In [19]:
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))

X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=0)

model = clf.fit(X_train, y_train)

r = permutation_importance(model, X_val, y_val,
                           n_repeats=30,
                           random_state=0)

In [20]:
for i in r.importances_mean.argsort()[::-1]:
    if r.importances_mean[i] > 0:
        print(f"{X.columns[i]:<8}"
                 f"{r.importances_mean[i]:.3f}"
                f" +/- {r.importances_std[i]:.3f}")

CDR     0.378 +/- 0.047
MMSE    0.041 +/- 0.019
EDUC    0.007 +/- 0.006
eTIV    0.001 +/- 0.003
nWBV    0.001 +/- 0.003
ASF     0.000 +/- 0.002